/*////////////////////////////// ----- PAGE TINKERCARD *INICIO*  -----\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
section {
    display: flex;
    justify-content: center;
}

article {
    width: 76.83rem;
    margin: 20rem auto;
    background-color: #E0E0E0;
}

.content-container {
    position: relative;
}
/*////////////////////////////// ----- CONTEUDO PROJETOS  -----\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.box-title {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 7px 2px var(--bgcolor);
}

.description {
    margin: 40px auto;
    text-indent: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    
}

.project {
    width: 450px;
    margin: 40px auto;
    padding-bottom: 20px;
    box-shadow: 0 0 7px 3px var(--bgcolor);
}

.project h1 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    background-color: var(--bgcolor);
    color: #E0E0E0;
    text-shadow: 0 3px 5px black;
    text-decoration: none;
}

.project p {
    text-align: left;
    margin: 10px 10px;
    line-height: 1.2;
    font-weight: 500;
    color: black;
}
.project a {
    text-decoration: none;
}   

.project img {
    width: 95%;
    height: 100%;
    margin: 10px;
}


/*////////////////////////////// ----- CONTEUDO PROJETOS  -----\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*////////////////////////////// ----- PAGE TINKERCARD *FIM*  -----\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
