/*///////////////////IMAGEM ABERTURA////////////////////////////*/
.img-abertura{
    background-image: url(../assets/img-abertura.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 128rem;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.img-abertura .title-abertura{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 60px;
    text-shadow: 0 5px 5px black;
    color: white;
}
.img-abertura .subtitle-abertura{
    text-align: center;
    width: 100%;
    font-size: 30px;
    text-shadow: 0 5px 5px black;
    color: white;
}