.container-posts {
	width: 100%;
}

.posts {
	margin: 10rem auto;
}

.post {
	background    : #e8e8e8;
	display       : inline-block;
	text-align    : left;
	width		  : 280px;
	margin        : 20px 20px;
	box-sizing    : border-box;
}

.post-caixa {
	padding: 0 2rem 3rem;
	height : 20rem;
	display: flex;
	flex-wrap: wrap;
}

.post img {
	width : 100%;
	height: 20rem;
}

.post a {
	text-decoration: none;
	color          : inherit;
}

.post-titulo {
	font-size  : 1.8rem;
	font-weight: bold;
	padding    : 1rem 0;
}

.post-data {
	font-size: 1.2rem;
}

.post-descricao {
	font-size: 1.4rem;
	margin   : 1rem 0 1rem;
}

.post-leiamais a {
	position       : relative;
	text-decoration: none;
	color          : red;
}
/* -------------------------- */
