/*////////////////////////////// ----- Article *INICIO*  -----\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
section {
    display: flex;
}

article {
    width: 76.83rem;
    /*76.83rem*/
    margin: 5rem auto 10rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
}

.container-content {
    margin: 20px;
}

.container-content h1 {
    color: #383333;
    text-shadow: 0 2px 2px grey;
    padding: 20px 0;
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 1.2;
}

.container-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-indent: 30px;
    color: #616161;
}

/*////////////////////////////// ----- Article *FIM*  -----\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/





/*////////////////////////////// ----- ImgUX-UI *INICIO*  -----\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.bg-img{
    background-color: #091424;
    width: 100%;
    min-width: 128rem;
    padding-top: 40px;
}
.img_uxui {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

    width: 86rem;
    height: 373px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

.uxui-title {
    font-size: 100px;
    margin: auto 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*////////////////////////////// ----- ImgUX-UI *FIM*  -----\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/